@import "tailwindcss";

:root {
  --background: #f9fafb;
  --foreground: #111827;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Inter', sans-serif;
  --font-display: 'Inter', sans-serif;

  /* Custom Design System Colors */
  --color-primary: #374151;
  --color-accent-gray: #111827;
  --color-background-light: #f9fafb;
  --color-background-dark: #111827;
  --color-card-dark: #1f2937;
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}